@media only screen and (min-width: 0px) {
    .sidepanel__container {
        height: calc(100vh - 48px);
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 600px) {
    .sidepanel__container {
        height: calc(100vh - 64px);
        box-sizing: border-box;
    }
}

.sidepanel__content {
    flex-grow: 1;
    background-color: #f7f7f7;
}

.sidepanel__header {
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 1px solid #bdbdbd;
}

.sidepanel__tab {
    border-right-color: transparent !important;
    border-left-color: transparent !important;

    border-right-style: solid !important;
    border-right-width: 4px !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.sidepanel__selected {
    border-right-color: #1565C0 !important;
    /* border-left-color: #1565C0 !important; */
}